html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  background: #84a4d6;
  font: 16px Roboto, sans-serif;
  overflow: auto;
}

.page {
  display: flex;
}

.tile {
  background: #ffffff;
  border-radius: 4px;
  box-shadow: 0 10px 30px 0px rgba(30,30,30,.4);
  display: block;
  margin: 100px auto;
}

.subscriptions {
  align-items: flex-start;
  display: flex;
  padding: 30px;
}

.subscription {
  box-sizing: border-box;
  padding: 10px 40px;
  text-align: center;
  width: 280px;
}

.subscription:hover {
  cursor: pointer;
  background: rgba(200,200,200,.2);
  border-radius: 4px;
}

.subscription-logo {
  width: 64px;
}

.subscription-title {
  color: #536fd9;
  letter-spacing: .2em;
  margin: 2em 0 1em;
  text-transform: uppercase;
}

.subscription-description {
  color: #888;
  font-size: .8em;
  margin: 1em 0;
}

.subscription-price {
  color: #536fd9;
  line-height: 2.2em;
  margin: 1em 0 0;
}

.price-currency {
  font-weight: 700;
  vertical-align: text-bottom;
}

.price-amount {
  font-size: 1.8em;
  font-weight: 700;
}

.price-time {
  margin-left: .3em;
}